@font-face {
    font-family: 'madelyn';
    src: url('./madelyn/madelyn-webfont.woff2') format('woff2'),
         url('./madelyn/madelyn-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'madelyn_doodlesregular';
    src: url('./madelyn/madelyndoodles-webfont.woff2') format('woff2'),
         url('./madelyn/madelyndoodles-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'madelyn_fillregular';
    src: url('./madelyn/madelynfill-webfont.woff2') format('woff2'),
         url('./madelyn/madelynfill-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    margin: 0em;
    color:black;
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-size: cover;
    background-attachment:fixed;  
    background-repeat:    no-repeat; 
    background-position: center;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    z-index: 2;

}


.container {
      display: flex;
      justify-content: space-evenly;
      align-content: space-around;
      width: 100%;
      z-index: 2;

}

#icone1{
    width: 110%;
    height: 100%;
    z-index: 2;

}

#icone2{
    margin-top: -20%;
    width: 100%;
    z-index: 2;

}

#icone3 {
    width: 110%;
    z-index: 2;

}

/* Début */

/* * {
    box-sizing: border-box;
    border: 2px solid red;
} */

.sub-footer>* {
position: absolute;
top: 10px;
}

.sub-footer {
height: 100%;
    }

.footer-cloud {
    left: 35%;
    height: 100%;
    width: 30%;
    margin-bottom: 30px;
    z-index: 1;
}

#lieu {
    height: 10%;
}

#location {
    margin-top:-30px;
}

.footer-arrow {
    height: 60px;
    left:55%;
    top: 70%;
    z-index: 3;
}

.personnage {
    position: fixed;
    right: 10vw;
height: 100vh;
top: 0;
z-index: 0;
}

#ray {
height: 60%;
width: 60%;
z-index: 0;
position: fixed;
top: 300px;
left: 20%;
opacity: 0.3;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    margin-left: 6.5em;
    margin-top: 2em;
}

#lieu {
    height: 50%;
    margin-left: 10em;
}

.locationlieu {
    position: relative;
    top: -20%;
}

.box-film{
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 40vw;
    top: 20vh;
    overflow: auto;
    height: 50vh;
    width: 50vw;
}
p.resize, p.resize-output {
    margin:0;
    font-size: 1rem;

}

.rebus{
    width: 50%;
}

.secret {
    width: 80vw;
    margin: 0 auto;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif ;
    overflow: auto;
}
.rebus-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.footer-title {
    height: 100px;
    left:38%;
    font-size: 5.4rem;
    top: 38%;
    z-index: 4;
    font-family: 'madelyn';
    font-weight: 400;

}

h1 {
    font-family: 'madelyn';
    font-size: 5.4rem;
    margin-left: 2em;
    margin-top: 2em;

}

.perso2 {
    position: fixed;
    right: 5vw;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    margin-left: 5.1em;
}
/* .bloc {
    background-color: rgb(249,249,249,0.5);
    z-index: 0;
    padding-top: 5px;
    padding-bottom: 20px;

} */

.enigma1-nb {
    position: relative;
    padding: 10px;
    margin-left: 12em;
    border:none;
    z-index: 8;
} 

span {
    font-weight: 900;
    color: springgreen;
}

button {
    position: relative;
    padding:10px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    z-index: 10;

}


.button-prev-next {
    z-index: 0;
}
/* .hidden{
    display:none;
} */

#hiddenyes, #hiddenno {
    position: fixed;
    top: 2%;
    left: 20px;
    height: 100px;

}


.invisible{
    visibility:hidden;
}

.center-image {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.ray-hoover {
    height: 50%;
    position: fixed;
    bottom:0;
    left: 0;
    z-index: 1;
}


.incline{
    transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    -khtml-transform: rotate(-20deg);
} 


.previous-page {
    height: 100px;
    transform: rotate(360deg) scaleX(-1);
    z-index: 0;

    }

.next-page {
    height: 100px;
    z-index: 0;

}

.answer-nb {
    border: solid black 1px;
    font-family: Arial, Helvetica, sans-serif ;
    text-align: center;
    background-color: whitesmoke;
}

footer {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;    
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 40vh;
    z-index: 0;
}


.put-in-line{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.put-in-line>*{
    /* display: flex; */
    border:black solid;
    width: 30%;
}

.resize{
    /* width: 30%;
    justify-content: flex-end; */
}
.resize-output {
    /* width: 20%;
    justify-content: flex-start; */
}

.enigma1-nb {
    width: 20%;
}